@import "ui_alchemy/alchemy/alchemy";
@import "katello_colors";
@import "alchemy-header/header";

.logo-header {
  .menu-item {
    a { color: white; }
  }
}

.nav-header {
  border-bottom: 3px solid rgb(206, 206, 206);
}

.fade-in-down, .fade-in-bottom{
-webkit-animation: fade-in-down .9s ease 0;
   -moz-animation: fade-in-down .9s ease 0;
    -ms-animation: fade-in-down .9s ease 0;
     -o-animation: fade-in-down .9s ease 0;
    animation: fade-in-down .9s ease 0;
}

.subnav-container {
  border-bottom: 3px solid rgb(206, 206, 206);
  background-color: rgb(243, 243, 243);

  .subnav {
    margin-bottom: -3px;
    padding-bottom: 0;
  }
}
