--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
      string: "{\"display_name\":\"Fedora 17\",\"distributors\":[[\"yum_distributor\",{\"http\":false,\"protected\":true,\"generate_metadata\":true,\"https\":true,\"relative_url\":\"/test_path/\"},false,\"1\"]],\"id\":\"1\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_client_key\":null,\"ssl_client_cert\":null,\"ssl_ca_cert\":null,\"feed_url\":\"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\"}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="yWITX0aXVL3sN58ZGICBQV6u87ojpBH54jC0ZtY", oauth_signature="93c5Waf7%2FnI%2FJw16yb8mv1tnhZo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349700956", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"5072cd5cdc79215d0a001ee1\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 08 Oct 2012 12:55:56 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="Yd4sPLbQgCuuWtyEy7zr8zknbVd34TdHhR2kJaOH0ME", oauth_signature="amPu503Bquv1p7J63N28%2FXFu4Ho%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349700957", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 08 Oct 2012 12:55:57 GMT
