--- 
http_interactions: 
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"S77oapk3onlTd7mt\",\"login\":\"test_username\",\"name\":\"test_username\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="E2VaUAotQ9bKmztZDfJ5wviQsThj1JgI7qup1HPZ71U", oauth_signature="HTORlwTvTM2MHq4odlIi4Om%2FzcQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349744922", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - test_username
      Content-Type: 
      - application/json
    body: 
      string: "{\"_id\": {\"$oid\": \"5073791bdc79215d0a001f11\"}, \"name\": \"test_username\", \"roles\": [], \"_ns\": \"users\", \"login\": \"test_username\", \"id\": \"5073791bdc79215d0a001f11\", \"_href\": \"/pulp/api/v2/users/test_username/\"}"
  recorded_at: Tue, 09 Oct 2012 01:08:43 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/test_username/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="sT5crT8BQ3fe4wiLJevwH8g3jqGCkRs1Cx6qjh0tjg", oauth_signature="oUWfD18EgxCXVrLa6ZRFGnvMkhw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349744924", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Tue, 09 Oct 2012 01:08:44 GMT
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users//users/test_username/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="3kgI8Bn7EMZHUYF7JfjuDVXG9WP6FnJGga4OvxuEo", oauth_signature="wwy0Q8FEkMh19QtRvCofE88Lsyg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349744925", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Tue, 09 Oct 2012 01:08:45 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/roles/super-users//users/
    body: 
      string: "{\"login\":\"test_username\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="l8qUfTPUpPxLZxnEHS9pocvrIygwJzRM9Gcxn81U", oauth_signature="H%2FScRzTA2IVDxqGzPi%2FAnFKTwS8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349744926", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Tue, 09 Oct 2012 01:08:46 GMT
recorded_with: VCR 2.2.5
