--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/946df03d-1143-11e2-bf4c-525400c5df07/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="m84KSGOQKXyGhynqx9DCTKKNXrROPmdK4NjBzB4", oauth_signature="0%2FNrogCRRfzY%2FCFAOBSXIecIIog%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349699272", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"dfd026e5-8680-4d23-ba14-95278abb184d\", \"exception\": null, \"_href\": \"/pulp/api/v2/tasks/946df03d-1143-11e2-bf4c-525400c5df07/\", \"task_id\": \"946df03d-1143-11e2-bf4c-525400c5df07\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-10-08T12:27:52Z\", \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"running\", \"result\": null, \"progress\": {\"yum_importer\": {\"content\": {\"state\": \"NOT_STARTED\"}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"IN_PROGRESS\"}}}, \"principal_login\": \"admin\", \"response\": \"accepted\"}"
  recorded_at: Mon, 08 Oct 2012 12:27:52 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/tasks/946df03d-1143-11e2-bf4c-525400c5df07/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="skCK5nv3sEP9gT48TeesZYzAc1Xp3kXuUbYu6OA", oauth_signature="acZ3Gwlf4PtLWezTpSvYeHeeI94%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349699273", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"task_group_id\": \"dfd026e5-8680-4d23-ba14-95278abb184d\", \"exception\": null, \"_href\": \"/pulp/api/v2/tasks/946df03d-1143-11e2-bf4c-525400c5df07/\", \"task_id\": \"946df03d-1143-11e2-bf4c-525400c5df07\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": \"2012-10-08T12:27:52Z\", \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"running\", \"result\": null, \"progress\": {\"yum_importer\": {\"content\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 11, \"items_total\": 11, \"state\": \"IN_PROGRESS\", \"size_left\": 17872, \"details\": {\"tree_file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 3, \"items_total\": 3, \"size_left\": 0, \"num_error\": 0}, \"rpm\": {\"num_success\": 0, \"size_total\": 17872, \"items_left\": 8, \"items_total\": 8, \"size_left\": 17872, \"num_error\": 0}, \"delta_rpm\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}, \"file\": {\"num_success\": 0, \"size_total\": 0, \"items_left\": 0, \"items_total\": 0, \"size_left\": 0, \"num_error\": 0}}, \"error_details\": [], \"num_error\": 0}, \"comps\": {\"state\": \"NOT_STARTED\"}, \"errata\": {\"state\": \"NOT_STARTED\"}, \"metadata\": {\"state\": \"FINISHED\"}}}, \"principal_login\": \"admin\", \"response\": \"accepted\"}"
  recorded_at: Mon, 08 Oct 2012 12:27:53 GMT
[...]
- request: 
    method: get
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/sync_schedules/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="AYZ01WqTGdmcfx6zEHOGqoyhhtxL8VDracEjmdAe2Q", oauth_signature="owGjYWO7dJY2%2BtcM0KLXJ47BZq0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349700950", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Mon, 08 Oct 2012 12:55:50 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/importers/yum_importer/sync_schedules/
    body: 
      string: "{\"schedule\":\"2013-10-08T08:55:50-04:00/P1D\"}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="ySgn48nn77NE6bkll23knf4TqKdIgM68F9WQZ6qWBYA", oauth_signature="HdobJ27oRv2ctVNKTblAAjetvBk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349700950", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - /pulp/api/v2/repositories/1/importers/yum_importer/sync_schedules/5072cd56dc79215d0a001e32/
      Content-Type: 
      - application/json
    body: 
      string: "{\"next_run\": \"2013-10-08T12:55:50Z\", \"_href\": \"/pulp/api/v2/repositories/1/importers/yum_importer/sync_schedules/5072cd56dc79215d0a001e32/\", \"schedule\": \"2013-10-08T08:55:50-04:00/P1D\", \"override_config\": {}, \"remaining_runs\": null, \"first_run\": \"2013-10-08T12:55:50Z\", \"enabled\": true, \"last_run\": null, \"failure_threshold\": null, \"_id\": \"5072cd56dc79215d0a001e32\", \"consecutive_failures\": 0}"
  recorded_at: Mon, 08 Oct 2012 12:55:50 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/actions/sync/
    body: 
      string: "{\"num_threads\":4}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Xma2qMqI3qAYeigxG4fKisjoirpFC29T8oPLOZX5Ew", oauth_signature="%2BvA0KWs1VQsiGVrz8VzblV5TKPk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349700954", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: Accepted
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"task_group_id\": \"84d19dda-52d7-4ce2-86ab-ce385b12d872\", \"exception\": null, \"_href\": \"/pulp/api/v2/task_groups/84d19dda-52d7-4ce2-86ab-ce385b12d872/\", \"task_id\": \"7ed339d7-1147-11e2-a899-525400c5df07\", \"tags\": [\"pulp:repository:1\", \"pulp:action:sync\"], \"reasons\": [], \"start_time\": null, \"traceback\": null, \"schedule_id\": null, \"finish_time\": null, \"state\": \"waiting\", \"result\": null, \"progress\": {}, \"principal_login\": \"admin\", \"response\": \"accepted\"}]"
  recorded_at: Mon, 08 Oct 2012 12:55:54 GMT
[...]
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/1/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="aplSpY2m0K8WphfF9TWltiTUjHX1TSR22gQYGzfkd4", oauth_signature="nSvuXdC0Mk7JyEG%2BF%2FuwM11zFTc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349700956", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "null"
  recorded_at: Mon, 08 Oct 2012 12:55:57 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/repositories/
    body: 
      string: "{\"display_name\":\"Fedora 17\",\"distributors\":[[\"yum_distributor\",{\"http\":false,\"protected\":true,\"generate_metadata\":true,\"https\":true,\"relative_url\":\"/test_path/\"},false,\"1\"]],\"id\":\"1\",\"importer_type_id\":\"yum_importer\",\"importer_config\":{\"ssl_client_key\":null,\"ssl_client_cert\":null,\"ssl_ca_cert\":null,\"feed_url\":\"file:///home/ehelms/workspace/katello/src/test/fixtures/zoo5\"}}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="AYlw7TxwDYeDiECtzx3jymqpxYDnPAdKPADayf3TQ", oauth_signature="UdvFDQpxEs4JXteKo4WfmikRuZ0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349700957", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Location: 
      - "1"
      Content-Type: 
      - application/json
    body: 
      string: "{\"scratchpad\": {}, \"display_name\": \"Fedora 17\", \"description\": null, \"_ns\": \"repos\", \"notes\": {}, \"content_unit_count\": 0, \"_id\": {\"$oid\": \"5072cd5ddc79215d0a001efd\"}, \"id\": \"1\", \"_href\": \"/pulp/api/v2/repositories/1/\"}"
  recorded_at: Mon, 08 Oct 2012 12:55:57 GMT
