--- 
http_interactions: 
- request: 
    method: delete
    uri: https://knifeparty.localdomain/pulp/api/v2/users/test_username/
    body: 
      string: ""
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_consumer_key="katello", oauth_nonce="GjtjUNQ4mvUCwImoA1GMOML13s7L1ljCHh7oihus", oauth_signature="7zK7u94wddfrW1fyqHNEB2c1nAE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349744923", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"http_request_method\": \"DELETE\", \"exception\": null, \"error_message\": \"Missing resource(s): resource_id=test_username\", \"_href\": \"/pulp/api/v2/users/test_username/\", \"http_status\": 404, \"traceback\": null, \"resources\": {\"resource_id\": \"test_username\"}}"
  recorded_at: Tue, 09 Oct 2012 01:08:43 GMT
- request: 
    method: post
    uri: https://knifeparty.localdomain/pulp/api/v2/users/
    body: 
      string: "{\"password\":\"I01JFbZYXWvJRG8B\",\"name\":null}"
    headers: 
      Pulp-User: 
      - admin
      Authorization: 
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="katello", oauth_nonce="Omyv3rfr9DPeEK3VfjaT7f0cG7kVrvvxHNHuXFVTPtA", oauth_signature="7YeB%2FdkB%2FTXLt2EKaR8Yhu%2BrvUs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1349744927", oauth_version="1.0"
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 500
      message: Internal Server Error
 [...]
