= javascript :menu

%div{ 'ng-controller' => 'MenuController' }
  %header.header.logo-header
    %a.fl.logo{ 'href' => 'dashboard' }
    %span#experimental_indicator
      = "experimental"
    %nav{ 'alch-menu' => "user_menu" }
  %header.header.nav-header
    -#= render :file => 'components/org_switcher_experimental'
    .nav{ "alch-menu" => "menu" }
