@charset "UTF-8";

$logo-header_background:  #393F44;
$nav-header_background:   #474C51;
$menu-item_hover:         #64686C;
$dropdown-link-hover_background:  #64686C;
$link-border_color:       lighten($menu-item_hover, 40%);

.logo-header {
  border-top: 2px solid #CC0000;
}

.nav-header {
  //@include background-image(linear-gradient(to bottom, #474C51 0%, #393F44 100%));
}

.nav-header .menu-item .menu-item-link.active-item, .menu-item-link:hover {
  background-image: linear-gradient(to bottom, #72757A 0%, #64686C 100%) !important;
}

.nav-header .menu-item .menu-item-link:hover {
  @include background-image(linear-gradient(to bottom, #5c6165 0%, #4b5053 100%));
}
